<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>河南兑现扫黑除恶举报奖金142万元</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="/www/static/js/jquery.min.js"></script>
<script src="/www/static/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/www/static/mui/plugin/loading.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="/www/static/mui/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="/www/static/mui/css/loading.min.css" />
<link rel="stylesheet" href="/tpl/static/css/app.css?v=1.05" type="text/css" />

</head>
<body>
<div class="page" style="padding: 0">
	<div class="title" style="padding:0 10px; padding-top: 10px">河南兑现扫黑除恶举报奖金142万元</div>
	<div class="date" style="padding:0 10px">更新日期：2019-03-04 16:22:35</div>
	<div class="content" style="padding:0 10px">文章正文</div>

	<div id="app" v-cloak>
		<div class="adList"></div>
		<div class="feedback">
			<div class="hd">
				<p>精选留言</p>
				<span @click="doWrite" v-show="writeBtn">写留言</span>
			</div>
			<div class="empty" v-show="empty" @click="doWrite"><p>抢占沙发~</p></div>
			<div class="bd" @click="closeWrite">				
				<li v-for="vo in lists">
					<div class="face"><img :src="vo.headimg"></div>
					<div class="desc">
						<div class="name">{{vo.nickname}}</div>
						<div class="say">{{vo.content}}</div>
					</div>
					<div class="like" @click="digg(vo)"><span>{{vo.digg}}</span><img src="/tpl/static/image/like.svg"/></div>
				</li>
				<div id="loadding" class="loadding" v-show="loadding">
					<span class="mui-spinner"></span>
				</div>
			</div>
		</div>

		<div class="writeBox" v-show="write">
			<input type="text" placeholder="说点什么..." v-model="content">
			<button type="button" class="mui-btn mui-btn-primary" @click="submit">发表</button>
		</div>
	</div>
	<script src="/www/static/vue/vue.min.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
		el:"#app",
		data:{
			user:'',
			empty:false,
			write:false,
			writeBtn:false,
			loadding:false,
			lists:[],
			token:'',
			articleid:615,
			page:1,
			canScroll : 1,
			next:0,
			content:''
		},
		created : function(){
			var that = this;
			var request = GetRequest();
			if(request.token){
				that.token = request.token;
				data = {'token':that.token};
				mui.post('/V1/News/getUserInfo',data,function(res){
					if (res.code==1){
						that.user = res.user;
						that.writeBtn = true;
					}				
				},'json');
			}
			that.goPage(that.page);
			$(window).scroll(function(){
				if(that.canScroll==0 || that.next==0){//不要重复加载
					return;
				}
				if ($(document).scrollTop() + $(window).height()+500 >= $(document).height()) {
					that.page++;   
					that.goPage(that.page); // 执行增加页面数据操作
				} 
			});
		},
		methods: {
			doWrite(){
				if (this.user==''){return false}
				this.write = true;
			},
			closeWrite(){
				this.write = false;
			},
			goPage : function(page){			
				var that = this;
	    		that.loadding = true;
	    		$.post(
					'/V1/News/getComment',
					{articleid:that.articleid,page:page},
				   	function(res){
			        	that.loadding = false;
						if(res.code==1){
							data = res.body.comments;
							that.lists = that.lists.concat(data);	
							if (that.lists==0){
								that.empty = true;
							}			
							that.next = res.body.next;
						}
			    	},
			    	"json"
			    );
			},
			digg(info){
				var that = this;			
				if (that.user==''){return false};
	    		$.post(
					'/V1/News/digg',
					{commentID:info.id,token:that.token},
				   	function(res){
						if(res.code==1){
							for(var i in that.lists){
								if (info.id==that.lists[i]['id']){
									that.lists[i]['digg']++;
								}
							}
						}
			    	},
			    	"json"
			    );
			},
			submit(){
				var that = this;			
				if (that.user==''){return false};
				if (that.content == '') {return false};
				mui.showLoading('提交中');
	    		$.post(
					'/V1/News/saveComment',
					{articleid:that.articleid,content:that.content,token:that.token},
				   	function(res){
				   		mui.hideLoading();
						if(res.code==1){
							mui.alert("发表成功，等待审核");
							that.content = '';
							that.write = false;
						}else{
							mui.alert(res.msg)
						}
			    	},
			    	"json"
			    );
			}
		},
		updated : function(){
			mui('.mui-slider').slider();
		}
	})

	function GetRequest() {   
	   var url = location.search; //获取url中"?"符后的字串   
	   var theRequest = new Object();   
	   if (url.indexOf("?") != -1) {   
	      var str = url.substr(1);   
	      strs = str.split("&");   
	      for(var i = 0; i < strs.length; i ++) {
	         if (strs[i]!='remark=%E4%B8%8D%E9%99%90' && strs[i]!='singleType=%E4%B8%8D%E9%99%90'){
	            //theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
	            theRequest[strs[i].split("=")[0]]=strs[i].split("=")[1];
	         }            
	      }   
	   }   
	   return theRequest;   
	}
	</script></div>
<script>
$(function(){
	url = '/V1/News/hit/id/615';
	$.get(url,function(){})
})
</script>
</body>
</html>