*{font-size: 15px;-webkit-user-select: auto;}
p{font-size: 15px;}
li,ol,ul{margin: 0; padding: 0; list-style: none;}
img{max-width: 100%}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.mui-input-row label {width:25%; height: 40px}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
    width: 75%;}
input, select, textarea {font-size: 14px;}

.intr{background: #fff; border-radius: 5px; margin: 5px; padding: 5px;}
.date{padding:0 5px; font-size: 14px; text-align: center;}
.red{color: #f00}
.tab{clear: both; margin: 5px; overflow: hidden; border-radius: 5px;}
.tab li{float: left; width: 50%; box-sizing: border-box; padding: 5px 0; text-align: center; color: #fff; background:#05c1af}
.tab li p{color: #fff; margin: 0}
.tab li p i{font-size: 16px;}

.list{clear: both; overflow: hidden;}
.list li{float: left; width: 50%; overflow: hidden;}
.one li{width: 100%}
.list li .item{ margin: 5px; clear: both; overflow: hidden; background: #fff; padding: 5px; box-shadow: 0 0 3px #999; border-radius: 3px; position: relative;}
.list li .item i{position: absolute; right: 10px; top: 10px; background:#05c1af; color: #fff; border-radius: 50%; display: none;}
.list li .item img{display: block;}
.list li .item p{margin: 0; color: #000; font-size: 14px; padding-top: 5px;}

.empty{text-align: center; color: #999; clear: both; overflow: }
.loadData{text-align: center; display: none;}

.voteBox{position: fixed; width: 100%; bottom: 50px; left: 0;}
.my-btn{background-color: #05c1af;border: 1px solid #05c1af; color: #fff; margin-bottom: 0}
.my-btn:active{background-color: #05c1af;border: 1px solid #05c1af;}
.my-btn:enabled:active{border: 1px solid #0aa596;background-color: #0aa596;}