<layout name='layout' />

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">搜索</h1>
</header>

<div id="app" class="mui-content" style="margin-top:40px">
    <div class="topSearch">
        <input type="text" name="keyword" id="keyword" v-model="keyword" class="mui-input-clear" placeholder="商品名称">
    </div>

    <div class="productList">
        <div id="loadding" class="loadding" v-show="loadShow">
            <span class="mui-spinner"></span>
        </div> 
        <li v-for="vo in lists">
            <div class="item">
                <a :href="'/store/store/detail/agentid/{$agent.id}/token/{$token}/id/'+vo.id">
                <img :src="vo.picname">    
                <p class="mui-ellipsis">{{vo.name}}</p>
                <span><i>¥</i> {{vo.price}}</span>
                </a>
            </div>
        </li>
    </div>
</div>

<script>
vm = new Vue({
    el : "#app",
    data : {
        loadShow : false,
        keyword : '',
        lists:[]
    },
    watch : {
        keyword : function(newValue,oldValue){
            if (newValue!=''){
                this.loadShow = true;
                this.search(newValue);
                //$("#keyword").blur();
            }else{
                this.lists = [];
            }         
        }
    },
    methods: {
        search : function(keyword){
            var that = this;
            data = {
                agentid : {$agent.id},
                keyword : keyword
            };
            url = "{:U('store/search')}";
            $.post(url,data,function(res){        
                that.loadShow = false;        
                that.lists = res;
            },'json')
        }
    },
    created : function(){      
        mui.init(); 
    }
});
</script>