<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>我的收藏-新加坡圈</title>
<link rel="stylesheet" type="text/css" href="../static/fonts/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/mui/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/mui/css/loading.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<script src="../static/js/config.js"></script>
<script src="../static/vue/vue.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mui/plugin/loading.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/cart.js"></script>
</head>
<body>
<div class="mui-content" id="vm" v-cloak>
	<div class="empty" v-show="empty"><img src="../static/image/empty.png"><p>空空如也~</p></div>
	<ul class="articleList">
		<li v-for="item in lists">
			<a :href="'app://articledetail?articleid='+item.id+'&type='+item.type">
			<div class="img" v-bind:style="{backgroundImage:'url('+item.thumb_s+')'}" ></div>
			<div class="info">
				<h1>{{item.title}}</h1>
				<p><i class="icon icon-weizhi"></i> {{item.address}}</p>
				<p>
					<span class="mui-pull-left" v-if="item.price > 0">
					 <i class="icon icon-meiyuan"></i> ${{item.price}}
					</span>
					<span v-else>
					 <i class="icon icon-meiyuan"></i> 面议
					</span>					
					<span class="mui-pull-right">{{item.time|formatDatetwo}}</span>
				</p>
			</div>
			</a>
		</li>		
	</ul>
</div>

<script>
mui.ready(function(){	
	vm = new Vue({
		el : "#vm",
		data : {
			empty:false,
			lists : []
		},
		created : function(){
			var that = this;
			if(localStorage.getItem('myFav')){
				that.lists = cart.getproductlist('myFav');	
				if (that.lists.length==0){
					that.empty = true;
				}					
			}else{
				that.empty = true;		
			}
		},
		methods: {

    	},
    	filters: {
            formatDatetwo: function (value) {
                date = new Date(parseInt(value) * 1000);
		        year = date.getFullYear();
		        month = date.getMonth() + 1;
		        if (month<10){
		        	month = '0'+month;
		        }
		        day =date.getDate();
		        if (day<10){
		        	day = '0'+day;
		        }
		        return year+'/'+month+'/'+day;
            }
        }
	});
})
</script>
</body>
</html>