<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>租房卖房-澳洲生活圈</title>
<link rel="stylesheet" type="text/css" href="../static/fonts/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/mui/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/mui/css/loading.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<script src="../static/js/config.js"></script>
<script src="../static/vue/vue.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mui/plugin/loading.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="mui-content" id="vm" v-cloak>
	<div class="tabMenu">
		<li><a href="zufang.html" id="zfUrl">租房</a></li>
		<li class="active"><a href="maifang.html" id="mfUrl">卖房</a></li>
	</div>
	<template v-if="showType == 'big'">
	<ul class="picList">
		<li v-for="item in lists">			
			<a :href="item.url">
			<div class="mui-slider">
				<div class="mui-slider-group">				    
				    <div class="mui-slider-item" v-for="banner in item.images" style="height:180px;background-position: center; background-repeat: no-repeat;background-size: cover;" v-bind:style="{backgroundImage:'url('+banner+')'}"></div>
				</div>

				<div class="slider-money">
					<span v-if="item.price !='' && item.price !='0' && item.price !='$0'">{{item.price}}</span>
					<span v-else>详情请咨询</span>
					<div class="tag4" v-if="item.tag4 !='' ">{{item.tag4}}</div>
				</div>

				<div class="slider-tag">
					<span class="tag1" v-if="item.tag1 !=''">{{item.tag1}}</span>
					<span class="tag2" v-if="item.tag2 !=''">{{item.tag2}}</span>
					<span class="tag3" v-if="item.tag3 !=''">{{item.tag3}}</span>
				</div>				
			</div>	
			<div class="info">
				<h1>{{item.title}}</h1>
				<p><i class="icon icon-weizhi"></i> {{item.address|empty}}</p>
			</div>
			</a>			
		</li>		
	</ul>
	</template>
	<template v-else>
	<ul class="articleList">
		<li v-for="item in lists">
			<a :href="item.url">
			<div class="img" v-bind:style="{backgroundImage:'url('+item.thumb_s+')'}" ></div>			
			<div class="info">
				<h1>{{item.title}}</h1>
				<p><i class="icon icon-weizhi"></i> {{item.address|empty}}</p>
				<p>
					<span class="mui-pull-left" v-if="item.price !='' && item.price !='0' && item.price !='$0'">
					 <i class="icon icon-meiyuan"></i> {{item.price}}
					</span>
					<span v-else>
					 <i class="icon icon-meiyuan"></i> 详情请咨询
					</span>					
					<span class="mui-pull-right">{{item.updateTime|time}}</span>
				</p>
			</div>
			</a>
		</li>		
	</ul>	
	</template>
</div>

<script>
mui.ready(function(){	
	vm = new Vue({
		el : "#vm",
		data : {
			page : 1,
			type : 'zf',
			canScroll : 1,
			next : 1,
			showType:request.showType,
			lists : []
		},
		created : function(){
			var that = this;
			that.goPage(that.page);
			$(window).scroll(function(){
				if(that.canScroll==0 || that.next==0){//不要重复加载
					return;
				}
				if ($(document).scrollTop() + $(window).height()+500 >= $(document).height()) {
					that.page++;   
					that.goPage(that.page); // 执行增加页面数据操作
				} 
			});
		},

		methods: {
        	goPage (page) {
        		var that = this;
        		that.canScroll = 0;
        		mui.showLoading('数据加载中');
        		var request = GetRequest();
        		request.page = that.page;
        		request.type = that.type;
        		request.houseType = 1;    
        		request.status = 1;    
        		$("#zfUrl").attr("href","zufang.html?cityID="+request.cityID+"&userid="+request.userid);
        		$("#mfUrl").attr("href","maifang.html?cityID="+request.cityID+"&userid="+request.userid);
        		$.post(
					config.articleList,
					request,
				   	function(res){
			        	mui.hideLoading();
						if(res.code=='0'){
							data = res.body.articles;
							$.each(data,function(index){
								if (this.html==''){
									data[index]['url'] = 'app://articledetail?articleid='+this.articleid+'&type='+that.type
								}else{
									data[index]['url'] = 'app://html?url='+this.html+'&title='+this.title;
								}
								if (this.thumb_s==''){
									if (this.cityID==39){
										data[index]['thumb_s'] = '/www/static/image/xjp_320.jpg';
									}else{
										data[index]['thumb_s'] = '/www/static/image/default_320.jpg';
									}
								};
								data[index]['images']=this.image.split(";"); //字符分割
								data[index]['tag1'] = this.sortName;
							  	if (this.houseType==0){//出租
							  		data[index]['tag2'] = this.singleType;
							  		if (this.Into!='') {
							  			data[index]['tag3'] = '入住：'+this.Into;
							  		}else{
							  			data[index]['tag3'] = '';
							  		}
							  	}else{//出售
							  		data[index]['tag2'] = '';
							  		if (this.bedrooms >0){
							  			data[index]['tag2'] += this.bedrooms+'卧';
							  		}
							  		if (this.toilets >0){
							  			data[index]['tag2'] += this.toilets+'卫';
							  		}
							  		if (this.showers >0){
							  			data[index]['tag2'] += this.showers+'浴';
							  		}
							  		if (this.parks >0){
							  			data[index]['tag2'] += this.parks+'车位';
							  		}
							  		data[index]['tag3'] = '';
							  	}										
								data[index]['tag4'] = this.remark;
							})										
							that.lists = that.lists.concat(data);	
							that.canScroll = 1;				
							that.next = res.body.next;				
						}else{
							mui.toast(res.desc);
						}
			    	},
			    	"json"
			    );
        	}
    	},
    	updated : function(){
			mui('.mui-slider').slider();
		}
	});

	Vue.filter('time', function (value) {
        date = new Date(parseInt(value) * 1000);
        year = date.getFullYear();
        month = date.getMonth() + 1;
        if (month<10){
        	month = '0'+month;
        }
        day =date.getDate();
        if (day<10){
        	day = '0'+day;
        }
        return year+'/'+month+'/'+day;
    })

    Vue.filter('empty', function (value) {
	    if (value=='' || value==null || value==undefined) {
	    	return '详情请咨询'
	    }else{
	    	return value
	    }
	})
	
})
</script>
</body>
</html>