<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>我的足迹-澳洲生活圈</title>
<link rel="stylesheet" type="text/css" href="../static/fonts/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/mui/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/mui/css/loading.min.css" />
<link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<script src="../static/js/config.js"></script>
<script src="../static/vue/vue.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mui/plugin/loading.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/mui/plugin/form.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="mui-content" id="vm" v-cloak>
	<ul class="mui-table-view" v-for="vo in lists">
        <li class="mui-table-view-cell" v-if="vo.py=='zp'">
            <a :href="'../article/zhaopin.html?userid='+req.userid+'&cityID='+req.cityID+'&type='+vo.py" class="mui-navigate-right" style="padding:20px 10px">
            {{vo.type}}
            <span class="mui-pull-right" style="padding-right: 30px">{{vo.num}}</span>
        	</a>
        </li>
        <li class="mui-table-view-cell" v-else-if="vo.py=='zf'">
            <a :href="'../article/zufang.html?userid='+req.userid+'&cityID='+req.cityID+'&type='+vo.py" class="mui-navigate-right" style="padding:20px 10px">
            {{vo.type}}
            <span class="mui-pull-right" style="padding-right: 30px">{{vo.num}}</span>
        	</a>
        </li>
        <li class="mui-table-view-cell" v-else="">
            <a :href="'../article/list.html?userid='+req.userid+'&cityID='+req.cityID+'&type='+vo.py" class="mui-navigate-right" style="padding:20px 10px">
            {{vo.type}}
            <span class="mui-pull-right" style="padding-right: 30px">{{vo.num}}</span>
        	</a>
        </li>
    </ul>
</div>
<script>
vm = new Vue({
	el : "#vm",
	data : {
		req:{},
		lists : []
	},
	created : function(){
		var that = this;
		that.canScroll = 0;
		mui.showLoading('数据加载中');
		var request = GetRequest();   
		that.req = request;  		
		$.post(
			config.articleList,
			request,
		   	function(res){
	        	mui.hideLoading();
				if(res.code=='0'){
					data = res.body.articles;										
					that.lists = data;				
				}else{
					mui.toast(res.desc);
				}
	    	},
	    	"json"
	    );
	},
	methods: { 
	}
})

</script>
</body>
</html>